<app-navbar></app-navbar>

<div class="container-fluid rectangle-10 conttop">
  <div class="row ">
    <div class="col-md-4 col-sm-12 topheader">
      <span><h1>Voucher</h1></span>
    </div>
    <div class="col-md-8 col-sm-12">
      <!--<button class="addBtn pull-right" data-toggle="modal" data-target="#myModal4"> <p class="buttonTextStyle"><span class="glyphicon glyphicon-plus"></span> &nbsp;Add customer</p></button>-->
    </div>
  </div>
</div>
<div class="rectangle-11"></div>
<div class="container text-center">
  <button class="btn btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
  <button class="btn btn-info" [class.active]="filterBy== null" (click)="filterBy= null">Unconfirmed</button>
  <!--<button class="btn btn-info" [class.active]="filterBy=='N'" (click)="filterBy='N'">Näytä tarkastamattomat</button>-->
</div>
<hr>
<div class="container-fluid forT">
    <table class="table table-strpped">
      <thead>
       <tr>
         <th> Account id</th>
         <th> Amount</th>
         <th> Prepared by</th>
         <th> Confirmed by</th>
         <th> Autherization</th>
         <th> Vtype</th>
         <th> Date</th>
       </tr>
      </thead>
      <tbody>

        <tr *ngFor="let x of (voucherData | statusFilter:filterBy)">
          <td>{{x.AccountId}}</td>
          <td>{{x.amount}}</td>
          <td>{{x.preparedBy}}</td>

          <ng-container *ngIf="roleCheck.title ==='secretary'">
            <td *ngIf="x.confirmedBy === null"><button disabled type="button" class="btn btn-warning">Waiting!!</button></td>
            <td *ngIf="x.confirmedBy"><button type="button" disabled class="btn btn-info">Confirmded!! </button></td>

            <td *ngIf="x.authorisedBy === null"><button disabled type="button" class="btn btn-warning">Waiting!!</button></td>
            <td *ngIf="x.authorisedBy !== null"><button type="button" disabled class="btn btn-info">Approved!!</button></td>
          </ng-container>

          <ng-container *ngIf="roleCheck.title ==='cashier'">
            <ng-container *ngIf="x.authorisedBy === null">
              <td><button type="button" disabled class="btn btn-danger">Waiting!!</button></td>
              <td *ngIf="x.confirmedBy === null"><button disabled type="button" class="btn btn-danger">Waiting!!</button></td>

            </ng-container>
            <ng-container *ngIf="x.authorisedBy !== null">
              <td *ngIf="x.confirmedBy === null"><button (click)="confirm(x.id)" type="button" class="btn btn-danger">Confirm</button></td>
              <td *ngIf="x.confirmedBy"><button type="button" disabled class="btn btn-warning">Confirmed!!</button></td>
              <td *ngIf="x.authorisedBy !== null"><button type="button" disabled class="btn btn-info">Approved!!</button></td>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="roleCheck.title ==='supervisor'">
            <ng-container *ngIf="x.authorisedBy === null">
              <td><button type="button" disabled class="btn btn-danger">Waiting!!</button></td>
              <td *ngIf="x.authorisedBy === null"><button (click)="authorize(x.id)" type="button" class="btn btn-danger">Approve</button></td>
            </ng-container>
            <ng-container *ngIf="x.authorisedBy !== null">
              <td *ngIf="x.confirmedBy === null"><button type="button" disabled class="btn btn-warning">Waiting!!</button></td>
              <td *ngIf="x.confirmedBy"><button type="button" disabled class="btn btn-warning">Confirmed!!</button></td>
              <td *ngIf="x.authorisedBy !== null"><button type="button" disabled class="btn btn-info">Approved!!</button></td>
            </ng-container>
          </ng-container>

          <td>{{x.vType}}</td>
          <td>{{x.updatedAt}}</td>
        </tr>
      </tbody>
    </table>
</div>
