<app-admin-navbar></app-admin-navbar>

<div class="container-fluid rectangle-10 conttop">
  <div class="row ">
    <div class="col-md-4 col-sm-12">
      <span><strong class="hhuHear pull-left">User management</strong></span>
    </div>
    <div class="col-md-8 col-sm-12">
      <button class="addBtn pull-right" data-toggle="modal" data-target="#myModal4"> <p class="buttonTextStyle"><span class="glyphicon glyphicon-plus"></span> &nbsp;New user</p></button>
    </div>
  </div>
</div>
<div class="rectangle-11"></div>

<div class="container-fluid forT">



  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%">
    <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Role</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of userData; let i = index">
      <td>{{c.email}}</td>
      <td>{{c.firstNames}}</td>
      <td>{{c.lastName}}</td>
      <td>{{c.role}}</td>
      <td>{{c.title}}</td>
      <td>
        <a class="glybtn glyTark" (click)="editUser(c.id)" data-toggle="modal" data-target="#myModal5">
          <i class="fas fa-edit"></i>
        </a>

        <a class="glybtn glyDelete"
           mwlConfirmationPopover
           [popoverTitle]="popoverTitle"
           [popoverMessage]="popoverMessage"
           [confirmText]="confirmText"
           [cancelText]="cancelText"
           [placement]="placement"
           (confirm)="confirmClicked = true; deletedUser(c.id)"
           (cancel)="cancelClicked = true"
           confirmButtonType="danger"
           cancelButtonType="default"
           (click)="confirmClicked = false; cancelClicked = false"
           [appendToBody]="true">
          <span class="glyphicon glyphicon-trash"></span>
        </a>

        <!--<button class="peruutabtn" data-toggle="modal" data-target="#myModal" (click)="deposit(c.id, 'deposit')"><span class="rectangle-17"></span><span class="peruuta">Deposit</span></button>
        <button class="peruutabtn" data-toggle="modal" data-target="#myModal2" (click)="withDraw(c.id, 'withdraw')"><span class="rectangle-17"></span><span class="peruuta">Withdraw</span></button>
        <button class="peruutabtn" data-toggle="modal" data-target="#myModal3" (click)="getId(c.id)"><span class="rectangle-17"></span><span class="peruuta">Transactions</span></button>-->

      </td>
    </tr>
    </tbody>
  </table>


</div>

<!-- cutomer modal -->
<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add user</h4>
      </div>
      <div class="modal-body">
        <form class="text-center">
          <div class="input-group "
               id="fname">
            <input
              type="text"
              class="form-control form-control-modal1"
              placeholder="First name"
              [(ngModel)] = "userModel.firstNames"
              [ngModelOptions]="{standalone: true}"
            />

          </div>
          <hr>
          <div class="input-group"
               id="lname">
            <input
              type="text"
              class="form-control form-control-modal1"
              placeholder="Last name"
              [(ngModel)] = "userModel.lastName"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group"
               id="email">
            <input
              type="email"
              class="form-control form-control-modal1"
              placeholder="Email"
              [(ngModel)] = "userModel.email"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group"
               id="password">
            <input
              type="password"
              class="form-control form-control-modal1"
              placeholder="Password"
              [(ngModel)] = "userModel.password"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group">
            <div class="form-group">
              <select class="form-control" name="code" [(ngModel)] ="userModel.role"
                      >
                <option *ngFor="let l of userRole" [value]="l.ID" >
                  {{ l.ROLE }}
                </option>
              </select>
            </div>
          </div>
          <hr>
          <div class="input-group">
            <div class="form-group">
              <select class="form-control" name="code" [(ngModel)] ="userModel.title"
              >
                <option *ngFor="let l of userTitle" [value]="l.ID" >
                  {{ l.TITLE }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default peruutabtn" (click)="addUser()" data-dismiss="modal">Add user</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- user update -->
<div id="myModal5" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update user</h4>
      </div>
      <div class="modal-body">
        <form class="text-center">
          <div class="input-group "
               id="firstname">
            <input
              type="text"
              class="form-control form-control-modal1"
              placeholder="First name"
              [(ngModel)] = "userUpdateModel.user.firstNames"
              [ngModelOptions]="{standalone: true}"
            />

          </div>
          <hr>
          <div class="input-group"
               id="laname">
            <input
              type="text"
              class="form-control form-control-modal1"
              placeholder="Last name"
              [(ngModel)] = "userUpdateModel.user.lastName"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group"
               id="email2">
            <input
              type="email"
              class="form-control form-control-modal1"
              placeholder="Email"
              [(ngModel)] = "userUpdateModel.user.email"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group"
               id="password2">
            <input
              type="password"
              class="form-control form-control-modal1"
              placeholder="Password"
              [(ngModel)] = "userUpdateModel.user.password"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group">
            <div class="form-group">
              <select class="form-control" name="code" [(ngModel)] ="userUpdateModel.user.role"
              >
                <option *ngFor="let l of userRole" [value]="l.ID" >
                  {{ l.ROLE }}
                </option>
              </select>
            </div>
          </div>
          <hr>
          <div class="input-group">
            <div class="form-group">
              <select class="form-control" name="code" [(ngModel)] ="userUpdateModel.user.title"
              >
                <option *ngFor="let l of userTitle" [value]="l.ID" >
                  {{ l.TITLE }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default peruutabtn" (click)="updatedUser()" data-dismiss="modal">Update user</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

