.container-fluid{
  padding: 20px 5% 0 5%;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: bold;
}
.topheader {
  padding-left: 5%;
}
h1 {
  color: #095961;
  -webkit-text-fill-color: rgba(13, 134, 145, 0.03); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #095961;
}
.glybtn{
  cursor: pointer;
}
.tableAbove{
  margin-bottom: 50px;
  padding-top: 15px;
  background-color: white;

}

.addBtn {
  width: 147px;
  height: 50px;
  border-radius: 6px;
  background-color: #014479;
  padding: 12px 12px 10px 15px;
}
.buttonTextStyle{
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;

}
.hhuHear{
  font-family: 'Source Sans Pro';
  font-size: 24px;
  font-weight: bold;
  color: #095961;

}
.hpeadre{
  font-family: 'Source Sans Pro';
  font-size: 12px;
  color: rgba(13, 134, 145, 0.8);
}
.invalid-name {
  width: 13.9px;
  height: 16px;
  font-family: 'Font Awesome';
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}
.vaikuttava-aine {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  text-align: left;
  color: #095961;
}
.asetyylikysteiini {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  text-align: left;
  color: #052d31;
}


.rectangle-10 {
  background-color: rgba(13, 134, 145, 0.03);
  padding: 25px 50px 25px 5px;

}

.conttop{
  margin-top: 80px;
}
.btn-edit {
  width: 112px;
  height: 32px;
  border-radius: 6px;
  background-color: #095961;
}
.tallenna {
  width: 62px;
  height: 20px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}
.tallena-name {
  width: 14px;
  height: 16px;
  font-family: 'Font Awesome';
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}
.peruuta {
  width: 54px;
  height: 20px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  text-align: left;
  color: white;
}
.peruutabtn {
  width: 112px;
  height: 32px;
  border-radius: 6px;
  color: white;
  background-color: #014479;
}
.rectangle-17 {
  width: 15px;
  height: 15px;
  color: #095961;
  font-size: 12px;
  background: #ffffff;
  border-radius: 50%;
}
.rectangle-16 {
  width: 24px;
  height: 24px;
  color: #095961;
  font-size: 15px;
  background: white;
  border-radius: 20%;
  padding: 7% 3% 3% 5%;
  cursor: pointer;

}
.rectangle-11 {
  width: 100%;
  height: 3px;
  background-color: rgba(13, 134, 145, 0.1);
}
.form-control-modal1 {
  width: 224px;
  height: 38px;
  border-radius: 20px;
  background-color: rgba(13, 134, 145, 0.2);
}

.form-control-pakka {
  width: 72px;
  height: 38px;
  border-radius: 4px;
  background-color: rgba(13, 134, 145, 0.2);
}
.form-control-vnr {
  width: 85px;
  height: 38px;
  border-radius: 4px;
  background-color: rgba(13, 134, 145, 0.2);
}
.form-control-sija{
  width: 139px;
  height: 38px;
  border-radius: 4px;
  background-color: rgba(13, 134, 145, 0.2);
}
.form-control-viim {
  width: 104px;
  height: 38px;
  border-radius: 4px;
  background-color: rgba(13, 134, 145, 0.2);
}
.tarkistetu {
  width: 90.7px;
  height: 24px;
  font-family: 'Font Awesome';
  font-size: 24px;
  line-height: 1.0;
  text-align: center;
  color: rgba(13, 134, 145, 0.8);
  background-color: rgba(13, 134, 145, 0.2);
}

.glyEdit {
  width: 24px;
  height: 24px;
  color: white;
  font-family: 'Font Awesome';
  font-weight: 400;
  font-size: 12px;
  background: #ef5b5b;
  border-radius: 20%;
  text-decoration: none;
  padding: 2% 1% 1% 2%;
}
.glyDelete{
  width: 28px;
  height: 28px;
  color: #9b9b9b;
  font-size: 13px;
  text-decoration: none;
}

.cte-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: .2rem;
}

.tag {
  color: #D43669;
}

.atn {
  color: #31708f;
}

.pun {
  color: #7a8b94;
}

.atv {
  color: #647f11;
}
.search{
  background-color: red;
}

.squareOne {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  color: #D43669;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(13, 134, 145, 0.03);

}

/* Hide the browser's default checkbox */
.squareOne input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: solid #31708f;
  border-width: 2px;
  margin-bottom: 100px;
}

/* On mouse-over, add a grey background color */
.squareOne:hover input ~ .checkmark {
  background-color: #ccc;

}

/* When the checkbox is checked, add a blue background */
.squareOne input:checked ~ .checkmark {
  background-color: #31708f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.squareOne input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.squareOne .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.chspan{
  padding: 10%;
}
.form-con {
  width: 220px;
  height: 79px;
  border-radius: 4px;
  background-color: rgba(13, 134, 145, 0.2);
  border: solid 1px rgba(13, 134, 145, 0.2);
}
.form-control-valmiste {
  width: 220px;
  height: 38px;
  border-radius: 4px;
  background-color: rgba(13, 134, 145, 0.2);
}
.logC{
  cursor: pointer;
}
.glyInfo {
  font-family: 'Font Awesome';
  width: 14px;
  height: 16px;
  font-size: 16px;
  text-align: left;
  color: rgba(13, 134, 145, 0.71);

}
.glyTark {
  text-decoration: none;
  color: white;
  font-family: 'Font Awesome';
  font-size: 19px;
  line-height: 1.5;
  text-align: center;
  color: rgba(13, 134, 145, 0.8);
  padding: 2% 1% 1% 2%;

}
.tdtop{
  padding: 0%;
}
.tdtop p{
  margin-top: -70px;
}
.tdtop .form-group{
  margin-top: -72px;
}
.tdtop .chspan{
  margin-top: -85px;
}
.tdtop5 .frmg{
  margin-top: -1px;
}
.tdtop2 .tbtn{
  margin-top: -40px;
}

.tdtop1{
  padding: 0%;
}
.tdtop1 p{
  margin-top: -70px;
}
.tdtop1 .form-group{
  margin-top: -127px;
}
.tdtop1 .chspan{
  margin-top: -138px;
}
.tdtop2 .tbtn{
  margin-top: -127px;
}
.tdtop3 .frmg{
  margin-top: -64px;
}
.tdtop4 .tbtn{
  margin-top: -50px;
}
.forT tbody td {
  border-top: 1px solid #DEEEF0;
  border-bottom: 1px solid #DEEEF0;
}

.forT thead th {
  border-bottom: 1px solid #DEEEF0;}
.forT tfoot th {

  border-top: 1px solid #DEEEF0; }
.forT tr{
  height: 66px;
}



.tdcus{
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.rectangle-24 {
  width: 134px;
  height: 160px;
  border-radius: 6px;
  background-color: rgba(13, 134, 145, 0.03);
  margin-top: -10px;
  border: solid 1px rgba(13, 134, 145, 0.2);
  padding: 2%;

}
.rectangle-24 p {
  font-family: 'Source Sans Pro';
  font-size: 12px;
  text-align: left;
  color: rgba(13, 134, 145, 0.8);
  margin-top: -3px;

}
.rectangle-24 h1 {
  margin-top: -3px;
  font-family: 'Source Sans Pro';
  font-size: 12px;
  text-align: left;
  color: rgba(13, 134, 145, 0.8);
}


.pcolor{
  color: rgba(13, 134, 145, 0.8);
}
/deep/ .tooltip-inner {
  width: 140px;
  max-width: 140px;
  font-size: 12px;
  color: #00BFB2;
  background-color: #fff;
  box-shadow: 0 5px 7px 0 rgba(13, 134, 145, 0.2);
  border: solid 1px rgba(0, 0, 0, .1);
  text-align: left;

}

/deep/ .customClass.tooltip .tooltip-inner{
  width: 300px !important;
  max-width: 300px !important;
}

.alert-container {
  position: fixed;
  color: white;
  left: 60%;
  right: 0;
  bottom: 0;
  z-index: 100;
  margin: 20px 20px 20px 20px;
}
:host /deep/ .alert {
  background-color: #095961;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: white;
}
.lissaComment {
  margin-top: -10px;
}
.forT tr.bordr-bottom{
  height:10px;
}
.forT tr.bordr-bottom th {
  border-bottom:0pt solid black;
}
.forT tr.bordr-bottom th span{
  margin-top: 100px;
}
.forT thead{
  border-spacing: 0 1em;
}
.forT thead tr th .vaikuttava-aine p{
  vertical-align: top;
  margin-top: 300px;
}

.overlay {
  position: absolute;
  left: 0.7em;
  right: 0;
  height: 2.5em;
  text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.forT tr {
  position: relative;
}
.subMargin{
  top: -200px;
}
.modalHeader{
  color: white;
  background-color: #095961;
}
.printGlyp{
  font-size: 20px;
  color: white;
  cursor: pointer;
}
#classModal {}

.modal-body {
  overflow-x: auto;
}
