<!--<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="navbar-header rectangle-19">

    <img src="./assets/images/sm-logo.png">
  </div>
  <div class="terveysportti">
    <ul class="navbar-nav ml-auto">
      <li><a class="logC" [routerLink] = "['/finance']">Everyday finance</a></li>
      <li><a class="logC" [routerLink] = "['/voucher']">Vouchers</a></li>
      <li><a class="logC" [routerLink] = "['/front']">Customers</a></li>
      <li><a class="logC" [routerLink] = "['/saving']">Saving</a></li>
      <li><a class="logC" [routerLink] = "['/loan']">Loan</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="logC" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
    </ul>
  </div>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="navbar-header rectangle-19">
    <img src="./assets/images/sm-logo.png">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link logC" [routerLink] = "['/finance']">Everyday finance</a>
      <a class="nav-item nav-link logC" [routerLink] = "['/voucher']">Vouchers</a>
      <a class="nav-item nav-link logC" [routerLink] = "['/front']">Customers</a>
      <a class="nav-item nav-link logC" [routerLink] = "['/saving']">Saving</a>
      <a class="nav-item nav-link logC" [routerLink] = "['/loan']">Loan</a>

    </div>
    <div class="float-right navbar-right">
      <a class="nav-item nav-link logC" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

 <!--<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand logo" [routerLink] = "['/dashboard']" >Star - koontinäyttö</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink] = "['/selitykset']">Selitykset värikoodeille</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-user">&nbsp;</span>{{admin}}</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="linkD" (click)="logout()">Kirjaudu ulos</a>
      </div>
    </li>
  </ul>
</nav>-->
