<app-navbar></app-navbar>

<div class="container-fluid rectangle-10 conttop">
  <div class="row ">
    <div class="col-md-4 col-sm-12 topheader">
      <span><h1>Finance</h1></span>
    </div>
    <!--<div class="col-md-8 col-sm-12">
      <button class="addBtn pull-right" data-toggle="modal" data-target="#myModal4"> <p class="buttonTextStyle"><span class="glyphicon glyphicon-plus"></span> &nbsp;Add customer</p></button>
    </div>-->
  </div>
</div>

<div class="rectangle-11"></div>

<div class="container-fluid forT">
  <div *ngFor="let acc of accountData">
    <div *ngIf="acc.category == 'Asset'">
      <h2><strong>{{acc.category}}</strong></h2>
         <table class="table table-stripped">
           <thead>
             <tr>
               <th>Account number</th>
               <th>Account title</th>
               <th>Account type</th>
               <th>Balance</th>
               <th>Action</th>
             </tr>
           </thead>
           <tbody>
            <tr *ngFor="let x of acc.Accounts">
              <td>{{x.accountNumber}}</td>
              <td>{{x.accountTitle}}</td>
              <td>{{x.accountType}}</td>
              <td>{{x.balance}}</td>
              <td>
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="openDepositWindows(content); deposit(x.id)">Deposit</button>
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWithdrawWindows(content2); withDraw(x.id)">Withdraw</button>
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="openTransactionWindows(content3); getTransactionById(x.id)">Transactions</button>

                <!--<button class="peruutabtn" data-toggle="modal" data-target="#myModal" (click)="deposit(x.id)"><span class="rectangle-17"></span><span class="peruuta">Deposit</span></button>
                <button class="peruutabtn" data-toggle="modal" data-target="#myModal2" (click)="withDraw(x.id)"><span class="rectangle-17"></span><span class="peruuta">Withdraw</span></button>
                <button class="peruutabtn"><span class="rectangle-17"></span><span class="peruuta" data-toggle="modal" data-target="#myModal3" (click)="getTransactionById(x.id)">Transactions</span></button>-->

              </td>
            </tr>
           </tbody>
         </table>

    </div>
    <div *ngIf="acc.category == 'Liabilty'">
      <h2>{{acc.category}}</h2>
      <table class="table table-stripped">
        <thead>
        <tr>
          <th>Account number</th>
          <th>Account title</th>
          <th>Account type</th>
          <th>Balance</th>
          <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of acc.Accounts">
          <td>{{x.accountNumber}}</td>
          <td>{{x.accountTitle}}</td>
          <td>{{x.accountType}}</td>
          <td>{{x.balance}}</td>
          <td>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openDepositWindows(content); deposit(x.id)">Deposit</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWithdrawWindows(content2); withDraw(x.id)">Withdraw</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openTransactionWindows(content3); getTransactionById(x.id)">Transactions</button>

            <!--<button class="peruutabtn" data-toggle="modal" data-target="#myModal" (click)="deposit(x.id)"><span class="rectangle-17"></span><span class="peruuta">Deposit</span></button>
            <button class="peruutabtn" data-toggle="modal" data-target="#myModal2" (click)="withDraw(x.id)"><span class="rectangle-17"></span><span class="peruuta">Withdraw</span></button>
            <button class="peruutabtn"><span class="rectangle-17"></span><span class="peruuta" data-toggle="modal" data-target="#myModal3" (click)="getTransactionById(x.id)">Transactions</span></button>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="acc.category == 'Capital'">
      <h2>{{acc.category}}</h2>
      <table class="table table-stripped">
        <thead>
        <tr>
          <th>Account number</th>
          <th>Account title</th>
          <th>Account type</th>
          <th>Balance</th>
          <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of acc.Accounts">
          <td>{{x.accountNumber}}</td>
          <td>{{x.accountTitle}}</td>
          <td>{{x.accountType}}</td>
          <td>{{x.balance}}</td>
          <td>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openDepositWindows(content); deposit(x.id)">Deposit</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWithdrawWindows(content2); withDraw(x.id)">Withdraw</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openTransactionWindows(content3); getTransactionById(x.id)">Transactions</button>
            <!--<button class="peruutabtn" data-toggle="modal" data-target="#myModal" (click)="deposit(x.id)"><span class="rectangle-17"></span><span class="peruuta">Deposit</span></button>
            <button class="peruutabtn" data-toggle="modal" data-target="#myModal2" (click)="withDraw(x.id)"><span class="rectangle-17"></span><span class="peruuta">Withdraw</span></button>
            <button class="peruutabtn"><span class="rectangle-17"></span><span class="peruuta" data-toggle="modal" data-target="#myModal3" (click)="getTransactionById(x.id)">Transactions</span></button>-->

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="acc.category == 'Revenue'">
      <h2>{{acc.category}}</h2>
      <table class="table table-stripped">
        <thead>
        <tr>
          <th>Account number</th>
          <th>Account title</th>
          <th>Account type</th>
          <th>Balance</th>
          <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of acc.Accounts">
          <td>{{x.accountNumber}}</td>
          <td>{{x.accountTitle}}</td>
          <td>{{x.accountType}}</td>
          <td>{{x.balance}}</td>
          <td>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openDepositWindows(content); deposit(x.id)">Deposit</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWithdrawWindows(content2); withDraw(x.id)">Withdraw</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openTransactionWindows(content3); getTransactionById(x.id)">Transactions</button>
            <!--<button class="peruutabtn" data-toggle="modal" data-target="#myModal" (click)="deposit(x.id)"><span class="rectangle-17"></span><span class="peruuta">Deposit</span></button>
            <button class="peruutabtn" data-toggle="modal" data-target="#myModal2" (click)="withDraw(x.id)"><span class="rectangle-17"></span><span class="peruuta">Withdraw</span></button>
            <button class="peruutabtn"><span class="rectangle-17"></span><span class="peruuta" data-toggle="modal" data-target="#myModal3" (click)="getTransactionById(x.id)">Transactions</span></button>-->

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="acc.category == 'Expenditure'">
      <h2>{{acc.category}}</h2>
      <table class="table table-stripped">
        <thead>
        <tr>
          <th>Account number</th>
          <th>Account title</th>
          <th>Account type</th>
          <th>Balance</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of acc.Accounts">
          <td>{{x.accountNumber}}</td>
          <td>{{x.accountTitle}}</td>
          <td>{{x.accountType}}</td>
          <td>{{x.balance}}</td>
          <td>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openDepositWindows(content); deposit(x.id)">Deposit</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWithdrawWindows(content2); withDraw(x.id)">Withdraw</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openTransactionWindows(content3); getTransactionById(x.id)">Transactions</button>
            <!--<button class="peruutabtn" data-toggle="modal" data-target="#myModal" (click)="deposit(x.id)"><span class="rectangle-17"></span><span class="peruuta">Deposit</span></button>
            <button class="peruutabtn" data-toggle="modal" data-target="#myModal2" (click)="withDraw(x.id)"><span class="rectangle-17"></span><span class="peruuta">Withdraw</span></button>
            <button class="peruutabtn"><span class="rectangle-17"></span><span class="peruuta" data-toggle="modal" data-target="#myModal3" (click)="getTransactionById(x.id)">Transactions</span></button>-->

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Deposit modal -->
<!--<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Deposit money</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group"
               id="t">
            <input
              class="form-control"
              placeholder="amount in birr"
              type="number"
              [(ngModel)] = "depositModel.amount"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default peruutabtn" data-dismiss="modal" (click)="saveDeposit()">Deposit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>-->


<!-- Withdraw modal -->
<!--<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Withdraw money</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group"
               id="w">
            <input
              class="form-control"
              placeholder="amount in birr"
              type="number"
              [(ngModel)] = "withdrawModel.amount"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default peruutabtn" data-dismiss="modal" (click)="saveWithDraw()">Withdraw</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>-->

<!-- transaction modal -->
<!--<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span> <h4 class="modal-title">Transaction information</h4><p><span class="glyphicon glyphicon-print printGlyp"></span></p></span>
      </div>
      <div class="modal-body" *ngIf="transactionClicked">
        <div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Account id</th>
              <th>Amount</th>
              <th>Transaction type</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let x of transactionData">
             <ng-container *ngIf="!x.confirmedBy">
              <td>{{x.AccountId}}</td>
              <td><p style="color: red">{{x.amount}}*</p></td>
              <td *ngIf="x.vType === 0">Deposit</td>
              <td *ngIf="x.vType === 1">Withdraw</td>
              <td>{{x.updatedAt}}</td>
            </ng-container>

              <ng-container *ngIf="x.confirmedBy">
                <td>{{x.AccountId}}</td>
                <td>{{x.amount}}</td>
                <td *ngIf="x.vType === 0">Deposit</td>
                <td *ngIf="x.vType === 1">Withdraw</td>
                <td>{{x.updatedAt}}</td>
              </ng-container>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>-->

<!--deposit-->
    <ng-template #content let-c="close" let-d="dismiss">
       <div class="modal-header">
         <h4 class="modal-title">Deposit money</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
         </div>
        <div class="modal-body">
          <!--<div *ngFor="let x of customerAccount">
            <p>Your balance is : {{x.balance}}</p>
          </div>-->
          <form>
            <div class="input-group"
                 id="t2">
              <input
                class="form-control"
                placeholder="amount in birr"
                type="number"
                [(ngModel)] = "depositModel.amount"
                [ngModelOptions]="{standalone: true}"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary mb-2 mr-2" data-dismiss="modal" (click)="saveDeposit();d('Cross click')">Deposit</button>
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="d('Cross click')">Close</button>
        </div>
    </ng-template>
<!--withdraw-->
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Withdraw money</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <form>
        <div class="input-group"
             id="t3">
          <input
            class="form-control"
            placeholder="amount in birr"
            type="number"
            [(ngModel)] = "withdrawModel.amount"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </form>
    </div>

  <div class="modal-footer">
    <button class="btn btn-outline-primary mb-2 mr-2" data-dismiss="modal" (click)="saveWithDraw();d('Cross click')">Deposit</button>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>

<!--transaction-->
<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Transaction information</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body" *ngIf="transactionClicked">
      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Account id</th>
            <th>Amount</th>
            <th>Transaction type</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of transactionData">
            <ng-container *ngIf="!x.confirmedBy">
              <td>{{x.AccountId}}</td>
              <td><p style="color: red">{{x.amount}}*</p></td>
              <td *ngIf="x.vType === 0">Deposit</td>
              <td *ngIf="x.vType === 1">Withdraw</td>
              <td>{{x.updatedAt}}</td>
            </ng-container>

            <ng-container *ngIf="x.confirmedBy">
              <td>{{x.AccountId}}</td>
              <td>{{x.amount}}</td>
              <td *ngIf="x.vType === 0">Deposit</td>
              <td *ngIf="x.vType === 1">Withdraw</td>
              <td>{{x.updatedAt}}</td>
            </ng-container>
          </tr>
          </tbody>
        </table>
      </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>
