<app-navbar></app-navbar>
<div class="container-fluid rectangle-10 conttop">
  <div class="row ">
    <div class="col-md-4 col-sm-12 topheader">
      <span><h1>Saving account</h1></span>
    </div>
    <div class="col-md-8 col-sm-12">
      <!--<button class="addBtn pull-right" data-toggle="modal" data-target="#myModal4"> <p class="buttonTextStyle"><span class="glyphicon glyphicon-plus"></span> &nbsp;Add customer</p></button>-->
    </div>
  </div>
</div>
<div class="rectangle-11"></div>

<div class="container-fluid forT">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Account number</th>
      <th>Balance</th>
      <th>Saving</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of savingData">
      <td>{{x.firstNames}}</td>
      <td>{{x.lastName}}</td>
      <td>{{x.Accounts[0].accountNumber}}</td>
      <td>{{x.Accounts[0].balance}}</td>
      <td>
        <ng-container *ngIf="x.Accounts[0].Savings.length === 0">
          <!--<button (click)="createInstallment(x.Accounts[0].id)" class="text-center installment-btn" data-toggle="modal" data-target="#myModal4">
            <p>Plan saving</p></button>-->
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="openDepositWindows(content); createInstallment(x.Accounts[0].id)">
            <p>Plan saving</p></button>
        </ng-container>

        <ng-container *ngIf="x.Accounts[0].Savings.length > 0">
            {{x.Accounts[0].Savings[0].amount}}
            <ng-container *ngIf="x.Accounts[0].Savings[0].Installments.length < 1">
              <button class="text-center installment-btn" (click)="generate(x.Accounts[0].Savings[0].id)">
                <p>generate</p></button>
            </ng-container>
            <ng-container *ngIf="x.Accounts[0].Savings[0].Installments.length > 0">
              <!--<button class="pull-right installment-btn" (click)="installmentView(x.Accounts[0])" data-toggle="modal" data-target="#myModal3">
                <span><p>View installment</p></span></button>-->
              <button class="btn btn-outline-primary mb-2 mr-2" (click)="openTransactionWindows(content3); installmentView(x.Accounts[0])">
                <p>View installment</p>
              </button>
            </ng-container>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- transaction modal -->
<!--<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span> <h4 class="modal-title">Installment</h4><p><span class="glyphicon glyphicon-print printGlyp"></span></p></span>
        <button (click)="print()">print</button>
      </div>
      <div class="modal-body">

        <div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Capital</th>
              <th>Installment</th>
              <th>Interest</th>
              <th>Interest sum</th>
              <th>Remain</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let x of installmentData">
              <td>{{x.capital}}</td>
              <td>{{x.installment}}</td>
              <td>{{x.interest}}</td>
              <td>{{x.interestSum}}</td>
              <td>{{x.remain}}</td>
              <td>
                <ng-container *ngIf="x.status === 1">
                  <button (click)="payInstallment(x.id)" class="text-center pay-btn">
                    <p>Pay</p></button>
                </ng-container>
                <ng-container *ngIf="x.status === 2">
                  <button (click)="updateInstallment(x.installment)" class="text-center update-btn">
                    <p>Update</p></button>
                </ng-container>
                <ng-container *ngIf="x.status == 0">
                  <button disabled class="text-center update-btn">
                    <p>Payed</p></button>
                </ng-container>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>-->

<!-- loan modal -->
<!--<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Plan saving</h4>
      </div>
      <div class="modal-body">
        <form class="text-center">
          <div class="input-group "
               id="amount">
            <input
              type="number"
              class="form-control form-control-modal1"
              placeholder="First name"
              [(ngModel)] = "saveModel.amount"
              [ngModelOptions]="{standalone: true}"
            />

          </div>
          <hr>
          <div class="input-group"
               id="interestrate">
            <input
              type="number"
              class="form-control form-control-modal1"
              placeholder="Last name"
              [(ngModel)] = "saveModel.interestRate"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group"
               id="acnumber">
            <input
              type="number"
              class="form-control form-control-modal1"
              placeholder="Account number"
              [(ngModel)] = "saveModel.installmentsNumber"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default peruutabtn" (click)="createSave()" data-dismiss="modal">Apply</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>-->


<!--saving-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Plan saving</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">
      <form class="text-center">
        <div class="input-group "
             id="amount1">
          <input
            type="number"
            class="form-control form-control-modal1"
            placeholder="First name"
            [(ngModel)] = "saveModel.amount"
            [ngModelOptions]="{standalone: true}"
          />

        </div>
        <hr>
        <div class="input-group"
             id="interestrate1">
          <input
            type="number"
            class="form-control form-control-modal1"
            placeholder="Last name"
            [(ngModel)] = "saveModel.interestRate"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
        <hr>
        <div class="input-group"
             id="acnumber1">
          <input
            type="number"
            class="form-control form-control-modal1"
            placeholder="Account number"
            [(ngModel)] = "saveModel.installmentsNumber"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </form>
    </div>

  <div class="modal-footer">
    <button class="btn btn-outline-primary mb-2 mr-2" data-dismiss="modal" (click)="createSave();d('Cross click')">Create</button>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>


<!--transaction-->
<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Installment</h4><button (click)="print()">print</button>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Capital</th>
            <th>Installment</th>
            <th>Interest</th>
            <th>Interest sum</th>
            <th>Remain</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of installmentData">
            <td>{{x.capital}}</td>
            <td>{{x.installment}}</td>
            <td>{{x.interest}}</td>
            <td>{{x.interestSum}}</td>
            <td>{{x.remain}}</td>
            <td>
              <ng-container *ngIf="x.status === 1">
                <button (click)="payInstallment(x.id)" class="text-center pay-btn">
                  <p>Pay</p></button>
              </ng-container>
              <ng-container *ngIf="x.status === 2">
                <button (click)="updateInstallment(x.installment)" class="text-center update-btn">
                  <p>Update</p></button>
              </ng-container>
              <ng-container *ngIf="x.status == 0">
                <button disabled class="text-center update-btn">
                  <p>Payed</p></button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  <div class="modal-footer">
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>
