.navbar{
  padding: 0px;
  color: white;
  height: 80px;
  background-color: #095961;
  margin-bottom: 200px;
}
.conttop{
  margin-top: 80px;
}
.navbar-brand {
  padding: 0px;
  height: 100%;
}
.navbar-brand>img {
  height: 100%;

  width: auto;
}
.navbar-nav{
  margin-right: 30px;
  padding: 20px;
}
.navcolor{
  color: white;
}
nav{
  font-family: 'Lato', sans-serif;
  background-color: #1b3a6b;
  margin-bottom: 50px;
}
.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(13, 134, 145, 0.2);
  color: #4f787d;
  text-align: center;
}

.navbar a {
  color: white;
}
.navbar ul li a{
  margin-top: 8px;
}
.navbar ul li > a:hover {
  margin-bottom: 20px;
  border-bottom: 2px solid #ef5b5b;
  text-decoration: none;
}
.active {
  margin-top: 8px;
  color: white;
  border-bottom: 2px solid #ef5b5b;
  text-decoration: none;
  background-color:#095961;
}
.logC{
  cursor: pointer;
}
.duodecimPcolor{
  color: #1d67a3;
}
.footerimg {
  width: 100px;
  height: auto;
}

.rectangle-19 {
  width: 200px;
  height: 80px;
  background-color: #095961;

  border: solid 10px #ef5b5b;
}
.kansallinen-antidoot {
  width: 115px;
  height: 48px;
  font-family: 'Aileron';
  font-size: 18px;
  font-weight: bold;
  line-height: 0.89;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
  margin: 13px 55px 19px 30px;
}
.kansallinen-antidoot h2 {
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 900;
  vertical-align: middle;
  margin-top: 2px;
}
.invalid-name {
  width: 21px;
  height: 21px;
  font-family: 'Aileron';
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}
.rectangle-17 {
  width: 21px;
  height: 21px;
  border: solid 2px #ffffff;
}
.terveysportti {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
}
.yhteystiedot {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  text-align: left;
  color: #095961;
}
.myrkytystietokeskus {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: #095961;
}

