<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="navbar-header rectangle-19">
    <span class="navbar-brand kansallinen-antidoot">
      <h2>Banklite v1</h2>
    </span>
  </div>
  <div class="terveysportti">
    <ul class="nav navbar-nav navcolor">
      <!--<li><a class="logC" [routerLink] = "['/front']">Everyday finance</a></li>
      <li><a class="logC" [routerLink] = "['/loan']">Loan</a></li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="logC" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
    </ul>
  </div>
</nav>



