<div class="container">
  <div class="wrapper">
    <div class="col-md-6 col-md-offset-3 well">
      <h3> Banklite v1</h3>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label>Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #username="ngModel" required />
          <div *ngIf="f.submitted && !username.valid" class="help-block">Email required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label>Password</label>
          <input type="password" class="form-control" name="password"  [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password required</div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Login</button>
        </div>
        <div *ngIf="loading" class="alert alert-danger">{{error}}</div>
      </form>
    </div>
  </div>
</div>
