<app-navbar></app-navbar>

<div class="container-fluid rectangle-10 conttop">
  <div class="row ">
    <div class="col-md-4 col-sm-12 topheader">
      <span><h1>Customers account</h1></span>
    </div>
    <div class="col-md-8 col-sm-12">
      <!--<button class="addBtn float-right" data-toggle="modal" data-target="#myModal4"> <p class="buttonTextStyle"><span class="glyphicon glyphicon-plus"></span> &nbsp;Add customer</p></button>-->
      <button class="btn btn-outline-primary mb-2 mr-2 float-right" (click)="openCustomerWindows(content4)">Add customer</button>
    </div>
  </div>
</div>
<div class="rectangle-11"></div>
<div class="container-fluid forT">



  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Account number</th>
      <th>Balance</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customerData; let i = index">
      <td>{{c.id}}</td>
      <td>{{c.firstNames}}</td>
      <td>{{c.lastName}}</td>
      <ng-container *ngFor="let a of c.Accounts">
        <td>{{a.accountNumber}}</td>
        <td>{{a.balance}}</td>

      <td>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openDepositWindows(content); deposit(a.id, 'deposit')">Deposit</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWithdrawWindows(content2); withDraw(a.id, 'withdraw')">Withdraw</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openTransactionWindows(content3); getId(c.id)">Transactions</button>

        <!--<button class="peruutabtn" data-toggle="modal" data-target="#myModal" (click)="deposit(a.id, 'deposit')"><span class="rectangle-17"></span><span class="peruuta">Deposit</span></button>
        <button class="peruutabtn" data-toggle="modal" data-target="#myModal2" (click)="withDraw(a.id, 'withdraw')"><span class="rectangle-17"></span><span class="peruuta">Withdraw</span></button>
        <button class="peruutabtn" data-toggle="modal" data-target="#myModal3" (click)="getId(c.id)"><span class="rectangle-17"></span><span class="peruuta">Transactions</span></button>-->

      </td>
      </ng-container>
    </tr>
    </tbody>
  </table>


</div>

<!-- Deposit modal -->
<!--<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Deposit money</h4>
      </div>
      <div class="modal-body">
        <div *ngFor="let x of customerAccount">
          <p>Your balance is : {{x.balance}}</p>
        </div>
        <form>
          <div class="input-group"
               id="t">
            <input
                   class="form-control"
                   placeholder="amount in birr"
                   type="number"
                   [(ngModel)] = "depositModel.transaction.amount"
                   [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group">
            <div class="form-group">
              <select class="form-control" name="code" [(ngModel)] ="depositModel.voucher.AccountId"
              >
                <option *ngFor="let l of selectValue" [value]="l.id" >
                  {{ l.accountTitle }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default peruutabtn" data-dismiss="modal" (click)="saveDeposit()">Deposit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>-->

<!-- cutomer modal -->
<!--<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add customer</h4>
      </div>
      <div class="modal-body">
        <form class="text-center">
          <div class="input-group "
               id="fname">
            <input
                   type="text"
                   class="form-control form-control-modal1"
                   placeholder="First name"
                   [(ngModel)] = "customerModel.customer.firstNames"
                   [ngModelOptions]="{standalone: true}"
            />

          </div>
          <hr>
          <div class="input-group"
               id="lname">
            <input
                   type="text"
                   class="form-control form-control-modal1"
                   placeholder="Last name"
                   [(ngModel)] = "customerModel.customer.lastName"
                   [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group"
               id="acnumber">
            <input
              type="text"
              class="form-control form-control-modal1"
              placeholder="Account number"
              [(ngModel)] = "customerModel.accNo"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default peruutabtn" (click)="addCust()" data-dismiss="modal">Add customer</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>-->

<!-- Withdraw modal -->
<!--<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Withdraw money</h4>
      </div>
      <div class="modal-body">
        <div *ngFor="let x of customerAccount">
          <p>Your balance is : {{x.balance}}</p>
        </div>
        <form>
          <div class="input-group"
               id="w">
            <input
              class="form-control"
              placeholder="amount in birr"
              type="number"
              [(ngModel)] = "withdrawModel.transaction.amount"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <hr>
          <div class="input-group">
            <div class="form-group">
              <select class="form-control" name="code" [(ngModel)] ="withdrawModel.voucher.AccountId">
                <option *ngFor="let l of selectValue" [value]="l.id" >
                  {{ l.accountTitle }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default peruutabtn" data-dismiss="modal" (click)="saveWithDraw()">Withdraw</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>-->

<!-- transaction modal -->
<!--<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       <span> <h4 class="modal-title">Transaction information</h4><p><span class="glyphicon glyphicon-print printGlyp"></span></p></span>
      </div>
      <div class="modal-body" *ngIf="transactionClicked">

          <h2>{{singleCustomer.firstname}} {{singleCustomer.lastname}}</h2>
          <div *ngFor="let x of customerAccount">
            <h3 class="hhuHear">Account number {{x.accountNumber}}</h3>
            <p>Balance: {{x.balance}}</p>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Amount</th>
                <th>Transaction type</th>
                <th>Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let t of x.Transactions">
                <td>{{t.amount}}</td>
                <td>{{t.transactionType}}</td>
                <td>{{t.updatedAt}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>-->


<!--deposit-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Deposit money</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <div *ngFor="let x of customerAccount">
        <p>Your balance is : {{x.balance}}</p>
      </div>
      <form>
        <div class="input-group"
             id="t">
          <input
            class="form-control"
            placeholder="amount in birr"
            type="number"
            [(ngModel)] = "depositModel.transaction.amount"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
        <hr>
          <div class="form-group">
            <select class="form-control" name="code" [(ngModel)] ="depositModel.voucher.AccountId"
            >
              <option *ngFor="let l of selectValue" [value]="l.id" >
                {{ l.accountTitle }}
              </option>
            </select>
          </div>
      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mb-2 mr-2" data-dismiss="modal" (click)="saveDeposit();d('Cross click')">Deposit</button>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>

<!--withdraw-->
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Withdraw money</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">
      <div *ngFor="let x of customerAccount">
        <p>Your balance is : {{x.balance}}</p>
      </div>
      <form>
        <div class="input-group"
             id="w">
          <input
            class="form-control"
            placeholder="amount in birr"
            type="number"
            [(ngModel)] = "withdrawModel.transaction.amount"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
        <hr>
          <div class="form-group">
            <select class="form-control" name="code" [(ngModel)] ="withdrawModel.voucher.AccountId">
              <option *ngFor="let l of selectValue" [value]="l.id" >
                {{ l.accountTitle }}
              </option>
            </select>
          </div>
      </form>
    </div>

  <div class="modal-footer">
    <button class="btn btn-outline-primary mb-2 mr-2" data-dismiss="modal" (click)="saveWithDraw();d('Cross click')">Deposit</button>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>

<!--transaction-->
<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Transaction information</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="transactionClicked">

    <h2>{{singleCustomer.firstname}} {{singleCustomer.lastname}}</h2>
    <div *ngFor="let x of customerAccount">
      <h3 class="hhuHear">Account number {{x.accountNumber}}</h3>
      <p>Balance: {{x.balance}}</p>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Amount</th>
          <th>Transaction type</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of x.Transactions">
          <td>{{t.amount}}</td>
          <td>{{t.transactionType}}</td>
          <td>{{t.updatedAt}}</td>
        </tr>

        <!--<tr *ngFor="let x of transactionData">
          <ng-container *ngIf="!x.confirmedBy">
            <td>{{x.AccountId}}</td>
            <td><p style="color: red">{{x.amount}}*</p></td>
            <td *ngIf="x.vType === 0">Deposit</td>
            <td *ngIf="x.vType === 1">Withdraw</td>
            <td>{{x.updatedAt}}</td>
          </ng-container>

          <ng-container *ngIf="x.confirmedBy">
            <td>{{x.AccountId}}</td>
            <td>{{x.amount}}</td>
            <td *ngIf="x.vType === 0">Deposit</td>
            <td *ngIf="x.vType === 1">Withdraw</td>
            <td>{{x.updatedAt}}</td>
          </ng-container>
        </tr>-->

        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>

<!--customer-->
<ng-template #content4 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <form class="text-center">
        <div class="input-group "
             id="fname">
          <input
            type="text"
            class="form-control form-control-modal1"
            placeholder="First name"
            [(ngModel)] = "customerModel.customer.firstNames"
            [ngModelOptions]="{standalone: true}"
          />

        </div>
        <hr>
        <div class="input-group"
             id="lname">
          <input
            type="text"
            class="form-control form-control-modal1"
            placeholder="Last name"
            [(ngModel)] = "customerModel.customer.lastName"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
        <hr>
        <div class="input-group"
             id="acnumber">
          <input
            type="text"
            class="form-control form-control-modal1"
            placeholder="Account number"
            [(ngModel)] = "customerModel.accNo"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mb-2 mr-2" data-dismiss="modal" (click)="addCust();d('Cross click')">Add</button>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>
